nbp/freeabode
fabd-cli/remctl
fabd-cli/fabd-cli
tstat/tstat
wallknob/wallknob
*~
*.o
*.lo
.deps
Makefile
Makefile.in
ac-aux
aclocal.m4
autom4te.cache
autoscan*.log
config.h
config.h.in
config.log
config.status
configure
stamp-h1
*.pb-c.h
*.pb-c.c
libfreeabode/libfreeabode.la
libfreeabode/libfreeabode.pc
libtool
.libs
a.out
secretkey
ii*
vgcore*
core*
*.orig
*.rej
?
