nbp/freeabode
remctl
fabd-cli/fabd-cli
*~
*.o
*.lo
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan*.log
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
stamp-h1
*.pb-c.h
*.pb-c.c
libfreeabode.la
libfreeabode.pc
ar-lib
libtool
.libs
a.out
ltmain.sh
secretkey
ii*
vgcore*
core*
*.orig
*.rej
?
